*{
    margin: 0;
    padding: 0;
}


body {
    background-image: url('./images/bg1.gif');
    background-size: cover; 
    background-position: center; 
    
}

span{
    color: white; 
}

p{
    text-align: center;
    color: white;
    padding: 10px;
    font-size: xx-large;
}
.container1{
    border: solid 1px white;
    height: 140px;
    width: 400px;
    margin: 120px auto;
    text-align: center;
    
}

.time{
    margin: 20px auto;
}
.date{
    margin: 20px auto;
}

.day{
    margin: 20px auto;
}

.container2{
    border: solid 1px white;
    height: 40px;
    width: 400px;
    margin: 120px auto;
    text-align: center;
}


@media screen and (max-width: 500px) {
    .container1 {
        width: 70%; /* On very small screens, use full width */
        height: 140px; /* Even smaller height */
        font-size: 18px; /* Smaller font size */
    }
}

@media screen and (max-width: 500px) {
    .container2 {
        width: 70%; /* On very small screens, use full width */
        font-size: 18px; /* Smaller font size */
    }
}






